<app-header></app-header>
<div class="donation-container">
  <div class="donation">
    <div class="content-donation">
      <div class="title-donate">
        <span>
          <h2>Donate</h2> for better world
        </span>
        <p>Remember that the happiest people are not those getting more, but those giving more.
        </p>
      </div>
      <div class="button-donation">
        <button class="donate-now" routerLink="/donation/donate">Donate Now</button>
        <button class="read-donate" routerLink="/donation/list">List Donator</button>
      </div>
    </div>
    <div class="image-donation">
      <img src="assets/images/donate-bg.jpg" alt="donation-bg">
    </div>
  </div>
</div>
