$primary-color: #00A19D;
$secondary-color: #003638;
$text-hover: #FFB344;

.blog-item-container {
  width: 100%;

  .wrapper {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .blog-item {
      .meta-item {
        width: 100%;
        position: relative;
        color: white;

        img {
          width: 100%;
          filter: brightness(50%);
          background-color: #333;
          object-fit: cover;
        }

        .title-item {
          font-size: 2em;
          position: absolute;
          bottom: 0;
          left: 0;
          padding: .5em;
        }

        .author-item {
          position: absolute;
          top: 0;
          left: 0;
          padding: 1em;
          color: $text-hover;
        }

        .date-item {
          position: absolute;
          top: 0;
          right: 0;
          padding: 1em;
          color: $text-hover;
        }

        .category-item {
          position: absolute;
          top: 50px;
          font-weight: bold;
          right: 0;
          padding: .5em;
          margin-right: 1em;
          background-color: $text-hover;
          color: white;
        }

      }

      .content-item {
        margin: 2em 0;

        .content {
          white-space: pre-wrap;
        }
      }
    }
  }
}

@media screen and(max-width: 1000px) {
  .blog-item-container {
    .wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and(max-width: 576px) {
  .blog-item-container {
    .blog-item {
      .meta-item {
        font-size: .9em;

        .title-item {
          font-size: 1.5em;
        }
      }
    }
  }
}
