<div class="manage-donation-container">
  <app-sidenav></app-sidenav>
  <div class="manage-donation">
    <h2 class="title-manage-donation">Your Donation</h2>
    <button class="btn-donate" routerLink="/donation/donate">Donate Now</button>
    <table>
      <thead>
        <tr>
          <th>No.</th>
          <th>Nama</th>
          <th>Donasi</th>
          <th>Pesan</th>
          <th>Tanggal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list | paginate: {
            itemsPerPage: limit,
            currentPage: page,
            totalItems: config.count
        }; let i = index">
          <td>{{i + 1}}</td>
          <td>{{item.name | titlecase}}</td>
          <td>{{item.amount | numberWithComma}}</td>
          <td>{{item.message | titlecase}}</td>
          <td>{{item.donatedAt | date}}</td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <pagination-controls previousLabel="Prev" nextLabel="Next" [responsive]="true"
        (pageChange)="handlePageChange($event)">
      </pagination-controls>
    </div>
  </div>
</div>
