$primary-color: #00A19D;
$secondary-color: #003638;
$text-hover: #FFB344;

.donation-form-container {
  width: 100%;
  margin-bottom: 2em;

  .donation-form {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    form {
      width: 100%;
      display: grid;
      gap: 1em;

      .title-form {
        font-size: 2em;
      }

      .input-container {
        width: 50%;

        input {
          width: 100%;
          box-sizing: border-box;
          padding: .5em 1em;
          outline: none;
          border-radius: 8px;
          border: 1px solid $primary-color;
          color: #333;
          font-size: 1em;
        }
      }

      .btn-donate {
        padding: .5em 1em;
        background-color: $primary-color;
        border: none;
        color: white;
        font-size: 1em;
        font-weight: bold;
        border-radius: 8px;
        width: 50%;
        cursor: pointer;

        &:disabled {
          background-color: #a7c5c5;
        }

        &:active {
          box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
        }
      }
    }
  }
}

@media screen and(max-width: 768px) {
  .donation-form-container {
    .donation-form {
      form {
        .input-container {
          width: 100%;
        }

        .btn-donate {
          width: 100%;
        }
      }
    }
  }
}
