<footer class="footer-wrapper">
  <div class="footer">
    <div class="footer-nav">
      <div class="logo">
        <h4>CodeHachi</h4>
      </div>
      <div class="footer-link">
        <ul>
          <li><a class="bi bi-arrow-right-square-fill" routerLink="/blog"> Blog</a></li>
          <li><a class="bi bi-arrow-right-square-fill" routerLink="/donation"> Donation</a></li>
          <li><a class="bi bi-arrow-right-square-fill" routerLink="/contact"> Contact</a></li>
          <li><a class="bi bi-arrow-right-square-fill" routerLink="/about"> About</a></li>
        </ul>
      </div>
    </div>

    <div class="sub-footer">
      <span>© CodeHachi</span>
      <div class="nav-foot">
        <a href="" class="bi bi-instagram"></a>
        <a href="" class="bi bi-linkedin"></a>
      </div>
    </div>
  </div>
</footer>
