<div class="manage-blog-container">
  <app-sidenav></app-sidenav>
  <div class="manage-blog">
    <h2 class="title-dashboard-manage-blog">Manage Your Articles</h2>
    <div class="create-btn">
      <button [routerLink]="['/blog/create']">Create Article</button>
    </div>
    <div class="blog-item-manage" *ngFor="let item of list">
      <div class="card-item">
        <div class="image-card">
          <img src="{{item.image}}" alt="">
        </div>
        <div class="content-card">
          <h3 class="title-card">{{item.title}}</h3>
          <p class="category-card">Category: {{item.category}}</p>
          <div class="action-card">
            <button class="update-blog" routerLink="/blog/edit/{{item.url}}">Update</button>
            <button class="delete-blog" (click)="delete(item.id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
