<app-header></app-header>
<div class="blog-wrapper">
  <div class="blog">
    <div class="blog-items">
      <div class="blog-create-search">
        <form class="search-form">
          <input type="text" placeholder="Search..">
          <button class="search-btn"><i class="bi bi-search"></i></button>
        </form>
      </div>
      <!-- Blog card -->
      <h2 class="title-blog-item">Recent Posts</h2>
      <app-blog-card></app-blog-card>
    </div>
    <div class="blog-aside">
      <!-- Blog Aside -->
      <app-blog-aside></app-blog-aside>
    </div>
  </div>
</div>
