<app-header></app-header>
<div class="home-wrapper">
  <div class="home-content">
    <div class="content">
      <p *ngIf="isLogin" class="welcome-user">Welcome! User</p>
      <h1>Simple things should be simple, complex things should be possible</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor ullam nisi tenetur nobis, magnam alias,
        possimus quas corrupti modi asperiores quo eligendi minima perspiciatis rem. Hic ea error voluptate.
      </p>
      <a href="/contact"><button class="home-btn">Contact Me</button></a>
    </div>
    <div class="content-image">
      <img src="assets/images/bg-home.jpg" alt="bg">
    </div>
  </div>
</div>
